/* Body de las páginas */

html {
    background: linear-gradient(to bottom,  rgb(101, 0, 0) 0%,rgb(143, 0, 0) 50%,rgb(178, 56, 56) 100%); 

    font-family: "CormorantSC-Regular";
}


.logo-header {
    width: 30px;
    height: 40px;
    align-self: center;
}

.navbar-brand {
    color: white;
}

.bg-navmelian {
    background-color: rgb(101, 0, 0);
}

.nav-link {
    color: white;
}

.titulo {
    color: black;
    text-align: center;
}

.titulo:hover {
    transform: scale(1.1);
    transition: all 2s;
    color: white;
    opacity: 1;
    cursor: pointer;
}



/* index */
@font-face {
    font-family: "CormorantSC-Regular" ;
    src: url("../fuente/cormorant/CormorantSC-Regular.ttf");
}
header{
    background: linear-gradient(to bottom,  rgb(101, 0, 0) 0%,rgb(143, 0, 0) 50%,rgb(178, 56, 56) 100%); 

    font-family: "CormorantSC-Regular";

}

h1{
    text-align: center;
    padding: 10px;
    
}

div a img{
    margin-left: 43%;
    width: 15%;
}

.fondoindex {
    background-color: rgb(255, 96, 96);

}


/* about us */
.fondoabout{
    background-color: rgb(255, 96, 96);
}


.tituloaboutus{
    margin: 15px;
    font-size: 50px;
    text-decoration: underline;
}
.subtitulo{
    margin: 15px;
    font-size: 45px;
}

.biografia{
    text-align: left;
    font-size: 20px;
    margin: 15px;
}

.segundotituloaboutus{
    text-align: center;
    font-size: 35px;
}

/* Tienda */
.tienda{
    margin-left: 2%;
}

main{
    background-color: rgb(255, 96, 96);
}

.box{
    margin: 2%;
    text-align: center;
}

.box h6{
    font-size: larger;
    color: brown;
    margin: 10px;
}
/* Contacto */
main {
    text-align: left;
    padding-left: 5%;
}

.contactocatorce {
    padding-top: 2%;
}

footer{
    background-color: rgb(255, 96, 96);
 }

.redes{
    margin-top: 2%;
}

 footer div h3{
    text-align: center;
 }

.logoig {
    width: 5rem;
    height: 5rem;
    }

.logowpp {
    width: 5rem;
    height: 5rem;
}













































